<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head th:replace="layout/common/header :: load('사용자 목록')"></head>
<body>
<!-- Preloader -->
<div th:replace="layout/common/preloader :: load()" class="preloader flex-column justify-content-center align-items-center"></div>

<!-- Navbar -->
<nav th:replace="layout/common/navigator :: load()" class="main-header navbar navbar-expand navbar-white navbar-light"></nav>

<!-- Main Sidebar Container -->
<aside th:replace="layout/common/sider :: load()" class="main-sidebar sidebar-dark-primary"></aside>

<!-- Content Wrapper. Contains page content -->
<div id="app" class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0" th:text="#{account_list_page_content.account.list}">사용자 목록</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">홈</a></li>
            <li class="breadcrumb-item active" th:text="#{account_list_page_content.account.list}">사용자 목록</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">검색 조건</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" id="companyName" name="companyName" class="form-control float-right search-value" placeholder="회사">
                  <input type="text" id="userName" name="userName" class="form-control float-right  search-value" placeholder="사용자">

                  <div class="input-group-append">
                    <button type="button" class="btn btn-default" v-on:click="search">
                      <i class="fas fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
              <table class="table table-hover text-nowrap">
                <thead>
                <tr>
                  <th>순번</th>
                  <th>이메일</th>
                  <th>회사</th>
                  <th>이름</th>
                  <th>전화</th>
                  <th>모바일</th>
                  <th>주소</th>
                  <th>상태</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(account, index) in accounts">
                  <td>{{index + 1}}</td>
                  <td>{{account.email}}</td>
                  <td>{{account.companyName}}</td>
                  <td><a :href="account.editUrl">{{account.userName}}</a></td>
                  <td>{{account.phoneNo}}</td>
                  <td>{{account.mobileNo}}</td>
                  <td>{{account.address}}</td>
                  <td>{{account.enabled}}</td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
      </div>
    </div>
  </section>
</div>

<!-- Main footer -->
<footer th:replace="layout/common/footer :: load()" class="main-footer"></footer>

<!-- common javascript -->
<div th:include="layout/common/script :: load()"></div>

<script th:inline="javascript">
  let searchByCondition = function () {
    axiosGet('/accountApi/accounts'
      , {
        companyName: $("#companyName").val()
        , userName : $("#userName").val()
      }
      , (res) => this.accounts = res.data
    )};

  let app = new Vue({
    el     : '#app',
    data   : {
      accounts: [[${accounts}]]
    },
    methods: {
      search: searchByCondition
    }
  })
</script>
</body>
</html>