<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/account/login" method="post">
    <div class="form-group">
        <label for="username">이메일</label>
        <div class="input-group">
            <input type="email" id="username" name="username" class="form-control"/>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="username">비밀번호</label>
        <div class="input-group">
            <input type="password" name="password" class="form-control"/>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-block bg-gradient-primary btn-lg">로그인</button>
        </div>
    </div>
</form>
</body>
</html>